:root {
  --primary-color: #2666dd;
  --secondary-color: #eeeefa;

  --text-primary-color: #262729;
  --text-secondary-color: #757575;
}

* {
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  color: var(--text-primary-color);
}


body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 500px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 20px 30px 50px;
}

header h1 {
  margin: 0;
  font-weight: 900;
}

main {
  position: relative;
  flex-grow: 2;
}

.card {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  gap: 10px;

  padding: 30px;
  border-radius: 30px;
  background: white;
  box-shadow: 0 0 10px rgb(190, 190, 190);
  word-break: keep-all;
  transition: 500ms;
  z-index: 10;
}

.card-header {
  font-size: 1.5rem;
  font-weight: 900;
}

.card-content {
  flex-grow: 2;
}

.question {
  font-size: 1.5rem;
  font-weight: 900;
}

.card-number {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  border-radius: 100%;

  background-color: var(--primary-color);
  color: white;
}

.next-card {
  z-index: 3;
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px rgb(234, 233, 233);
  transition: 100ms;
  transform: scale(0.9);
}

.final-content {
  flex-grow: 2;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  align-self: flex-end;
}

.swipe {
  height: 40px;
  border-radius: 20px;
  
  background-color: var(--primary-color);
  background: linear-gradient(to left, var(--secondary-color), white);
}

.swipe .icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;
  border-radius: 20px;

  background-color: var(--primary-color);
}

.description {
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--text-secondary-color);
}

button:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

strong {
  color: var(--primary-color);
}

.chevron-right {
  border-right: 3px solid;
  border-bottom: 3px solid;
  border-color: lavender;
  width: 15px;
  height: 15px;
  transform: rotateZ(-45deg) translateX(-2px) translateY(-2px);
}